<div class="container">
  <div class="card my-form-style">
    <div class="errorStyle">
      <div [class]="isError? 'errorText':'d-none'">{{message}}</div>
     <div [class]="isSuccess? 'successText':'d-none'">{{message}}</div>
    </div>
    <div class="card-header header-style">
      <h1>EDIT CONTACT</h1>
    </div>
    <div class="card-body body-style">
      <form #editForm="ngForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
          <label for="exampleInputName">Name</label>
          <input type="text" class="form-control myInput" name="contactName" id="exampleInputName" [class.is-invalid]="fname.errors && fname.touched" #fname="ngModel" required minlength="3"  [(ngModel)]="contact.contactName">

          <div *ngIf="fname.errors && fname.touched">
            <div class="white bg-danger" *ngIf="fname.errors.required">Full Name is Required !</div>
            <div class="white bg-danger" *ngIf="fname.errors.minlength">Full Name must be greater that 3 characters !</div>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control myInput" name="contactEmail" id="exampleInputEmail1" aria-describedby="emailHelp" [class.is-invalid]="fname.errors && fname.touched" #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required  [(ngModel)]="contact.contactEmail" >

          <div *ngIf="email.errors && email.touched">
            <div class="text-white bg-danger" *ngIf="email.errors.required">Email ID is Required !</div>
            <div class="text-white bg-danger" *ngIf="email.errors.pattern">Invalid email format ! Email should be of the form 'john@gmail.com'.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleInputPhone">Phone Number</label>
          <input type="text" class="form-control myInput" name="contactPhone" id="exampleInputPhone" [class.is-invalid]="phone.errors && phone.touched" required #phone="ngModel" pattern="^[0-9 +]+$" minlength="6" maxlength="14" [(ngModel)]="contact.contactPhone" >

          <div *ngIf="phone.errors && phone.touched">
            <div class="text-white bg-danger" *ngIf="phone.errors.required">Phone Number is Required !</div>
            <div class="text-white bg-danger" *ngIf="phone.errors.pattern">Invalid format !</div>
            <div class="text-white bg-danger" *ngIf="phone.errors.minlength">Phone Number must be atleast 4 characters !</div>
            <div class="text-white bg-danger" *ngIf="phone.errors.maxlength">Phone Number must be atmost 12 characters !</div>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleInputType">Type</label>
          <select class="form-select" name="group" [(ngModel)]="contact.contactType" placeholder="Select contact group" ngModel required>
            <option *ngFor="let group of groups" value={{group}}>{{group}}</option>
          </select>
        </div>
        <button type="submit" class="btn  myInputBtn" [disabled]="editForm.form.invalid">UPDATE</button>
      </form>
    </div>
  </div>

</div>
